:root {
    --bg: #ffffff;
    --bgSoft: #f0f0f0;
    --text: rgb(0, 0, 0);
    --textSoft: #000000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }